<!doctype html>
<html>
    <title>Upload Excel File</title>
    <body>
    <head>
        <link rel="stylesheet" href="..\static\style.css">
    </head>
    <!-- <style> body {background-color: #f4f6f9; font: Tahoma, sans-serif;} </style> -->
    <h1>Upload Master Grading Sheets (.xlsx)</h1>
    <p>Please make sure your Excel sheets are labeled 'question versions', 'rubric', and 'student answers' accordingly</p>
    <form method=post enctype=multipart/form-data>
      <input class="uploadBut1" type=file name=file>
      <input class="uploadBut2" type=submit value=Upload>
    </form>
</body>
</html>
    